<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Autor: Angel Pinilla Gutierrez</p>
    <img src="https://static2.miriadax.net/c_image_profile/iPerfil/11582516.jpg" WIDTH=178 HEIGHT=180">
    <img>
  </body>
</html>
